/* Button */

.button {
    display: inline-block;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    color: #000;
    background-color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.button-blue {
    color: #fff;
    background-color: #007aff;
}

.button-blue:hover {
    background-color: #459bf8;
}


.button-green {
    color: #fff;
    background-color: #39b54a;
}

.button-green:hover {
    background-color: #73b37c;
}

.button-big {
    padding: 16px 24px;
    font-size: 32px;
    line-height:48px
}

.button-outline {
    border: 1px solid #fff;
    color: #fff;
    background: none;
}