/* Reset */
/* Green DBC: #39b54a */
/* Blue DBC: #007aff */

nav ul,
body {
    margin: 0;
}
nav ul {
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.link {
    color: #007aff;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

