
.card {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #efefef;
    box-shadow: 5px 5px 2px #666;
}

.card-img-top {
    width: 90%;
    margin: 10px auto 0px;
    border: 1px solid #666;
    border-radius: 4px;
}