.container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.map-container iframe {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.map-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

@media (min-width: 640px) {
    .map-container {
        width: calc(50vw - 25px);
        height: calc(100vh - 20px);
        margin-bottom: -20px;
        margin-top: 0px;
    }    
}
