/* Banner */

.main-banner {
    display: table;
    height: calc(100vh - 50px);
    width: 100%;
    background: url("../Img/creative.jpg") no-repeat center / cover;
    position: relative;
    color: #000;
}

.main-banner:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
    background: -moz-linear-gradient(-45deg, #007aff 0%, #39b54a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #007aff 0%,#39b54a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #007aff 0%,#39b54a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-banner article {
    max-width: 100%;
    max-height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 2;
    padding: 20px;
}

.main-banner h1 {
    margin: 0 0 20px;
    font-size: 60px;
    line-height: 70px;
}

.main-banner p {
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: 22px;
    line-height: 30px;
}

@media (max-width: 639px) {
    .main-banner h1 {
        margin: 0 0 20px;
        font-size: 30px;
        line-height: 35px;
    }

    .main-banner p {
        font-size: 16px;
        line-height: 20px;
    }
}
