/* Footer */

.main-footer {
    width: 100%;
    color: white;
    background: #000;
    margin-top: 24px;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
}

.main-footer li{
    display: inline-block;
}

.main-footer a {
    padding: 10px 20px;
}

.main-footer p {
    margin: 30px 0 0;
}