.contact-form label {
    margin-top: 10px;
    display: block;
    text-align: left;
}

.contact-form textarea,
.contact-form input {
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    max-width: 100%;
}

.contact-form button {
    margin-top: 10px;
    float: right;
}