.map-container iframe {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: -20px;
}

.map-container {
    display: block;
    width: calc(100vw - 40px);
    height: calc(100vh - 20px);
    margin-bottom: -20px;
    margin-top: 20px;
}

@media (min-width: 640px) {
    .map-container {
        width: calc(50vw - 25px);
        height: calc(100vh - 20px);
        margin-bottom: -20px;
        margin-top: 0px;
    }
    
    
}
