/* Profile */

.profile-box {
    border-radius: 10px;
    text-align: center;
    background-color: #aaa;
    padding: 15px;
    margin-top: 15px;
}

.profile-pic {
    border-radius: 50%;    
    width: 100px;
    margin: auto;
    
}

.profile-pic-box {
    border: 2px solid #fff;
    border-radius: 50%;    
    width: 140px;
    height: 140px;
    margin: 0 auto;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    background: -moz-linear-gradient(-45deg, #007aff 0%, #39b54a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #007aff 0%,#39b54a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #007aff 0%,#39b54a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.profile-button {
    border: 1px solid #000;
    background-color: #007aff;
    color: #fff;
}