.esquerda,
.direita {
    margin-top: 16px;
}

.esquerda img,
.direita img {
    max-width: 200px;
}

.bg-gray {
    min-height: 170px;
    background-color: #afafaf;
    
}

.esquerda article {
    border-radius:  0 10px 10px 0;
}

.direita article {
    border-radius: 10px 0  0 10px;
}