.container {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 20px;
    height: 275px;
    width: 450px;   
}

.rectangle {
    width: 100%;
    height: 33.33333333%;
}

.black-bg {
    background-color: #000;
}

.red-bg {
    background-color: #dd0000;
}

.yellow-bg {
    background-color: #ffce00;
}