.container {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 20px;
    height: 275px;
    width: 450px;   
}

.blue-bg {
    background-color: #002f6c;
}

.white-bg {
    background-color: #fff;
}

.rectangle-1 {
    float: left;
    height: 100px;
    width: 125px;
}

.rectangle-2 {
    float: right;
    height: 100px;
    width: 250px;
}

.rectangle-3 {
    position: relative;
    left: 0px; 
    top: 175px; 
    height: 100px;
    width: 125px;
}

.rectangle-4 {
    position: relative;
    left: 200px; 
    top: 75px; 
    height: 100px;
    width: 250px;
}
