.container {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 20px;
    height: 275px;
    width: 450px;  
    border: 1px solid #000; 
}

.red-circle {
    position: relative;
    margin: auto;
    margin-top: 75px;
    height: 132px;
    width: 132px;
    background-color: #bc002d;
    border-radius: 50%;
}