.contact-form label {
    margin-top: 10px;
    display: block;
}

.contact-form textarea,
.contact-form input {
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    max-width: 100%;
}

.contact-form button {
    margin-top: 10px;
    float: right;
}

.map-container iframe {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: -20px;
}

.map-container {
    display: block;
    width: calc(100vw - 40px);
    height: calc(100vh - 20px);
    margin-bottom: -20px;
    margin-top: 20px;
}

@media (min-width: 640px) {
    .map-container {
        width: calc(50vw - 25px);
        height: calc(100vh - 20px);
        margin-bottom: -20px;
        margin-top: 0px;
    }
    
    
}
