/* Container */

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* Sempre que um elemento tiver float (left ou right) o pai do elemento tem que ter a classe clearfix*/
.clearfix:before,
.clearfix:after,
.row:after,
.row:before {
    content: "";
    display: table;
    clear: both;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    box-sizing: border-box;
}

.row {
    margin-left: -15px;
    margin-right: -15px;

}

.col-1 {
    width: 8.333333333%;
}

.col-2 {
    width: 16.666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333333%;
}

.col-5 {
    width: 41.666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333333%;
}

.col-8 {
    width: 66.666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333333%;
}

.col-11 {
    width: 91.666666667%;
}

.col-12 {
    width: 100%;
}

@media (min-width: 640px) {
    /* Tablet */
    
    .col-md-1 {
        width: 8.333333333%;
    }
    
    .col-md-2 {
        width: 16.666666667%;
    }
    
    .col-md-3 {
        width: 25%;
    }
    
    .col-md-4 {
        width: 33.333333333%;
    }
    
    .col-md-5 {
        width: 41.666666667%;
    }
    
    .col-md-6 {
        width: 50%;
    }
    
    .col-md-7 {
        width: 58.333333333%;
    }
    
    .col-md-8 {
        width: 66.666666667%;
    }
    
    .col-md-9 {
        width: 75%;
    }
    
    .col-md-10 {
        width: 83.333333333%;
    }
    
    .col-md-11 {
        width: 91.666666667%;
    }
    
    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 1080px) {
    /* Desktop */
    
    .col-lg-1 {
        width: 8.333333333%;
    }
    
    .col-lg-2 {
        width: 16.666666667%;
    }
    
    .col-lg-3 {
        width: 25%;
    }
    
    .col-lg-4 {
        width: 33.333333333%;
    }
    
    .col-lg-5 {
        width: 41.666666667%;
    }
    
    .col-lg-6 {
        width: 50%;
    }
    
    .col-lg-7 {
        width: 58.333333333%;
    }
    
    .col-lg-8 {
        width: 66.666666667%;
    }
    
    .col-lg-9 {
        width: 75%;
    }
    
    .col-lg-10 {
        width: 83.333333333%;
    }
    
    .col-lg-11 {
        width: 91.666666667%;
    }
    
    .col-lg-12 {
        width: 100%;
    }
}

