/*Login*/

.login-card {
    max-width: 600px;
    margin: 30vh auto;
    padding: 12px;
    border-radius: 8px;    
    background: -webkit-linear-gradient(0deg, #007aff 0%,#39b54a 100%);
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.mensagem-erro {
    color: #CC3F0C;
    font-size: 18px;
    font-weight: bold;
}

.login-card label {
    font-size: 18px;
    font-weight: bold;
}

.login-card button {
    min-width: 25%;
    margin: 8px 38%;
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 4px;
    border: #FBFAF8 2px solid;
    background-color: #fff;
    transition: 400ms;
}

.login-card button:hover {
    background-color: #ddd;
}

.login-input {
    display: inline-block;
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;    
    box-sizing: border-box;
}