.page {
    width: 100%;
    min-height: 80vh;
    padding: 5px 20px;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    background: #FBFAF8;
    position: relative;
    box-sizing: border-box;
}

.page input {
    padding: 6px 6px;
    margin: 8px 2px;
    border-radius: 4px;
    border: #D8CBC7 1px solid;
}

.page button {
    padding: 6px 6px;
    margin: 8px 2px;
    border-radius: 4px;
    border: #D8CBC7 1px solid;
    background-color: #FBFAF8;
    transition: 200ms;
}

.page button:hover {
    background-color: #E5E4E2;
}

.page a {
    color: #007AFF;
    text-decoration: none;
}

.page a:hover {
    text-decoration: underline;
}