body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.places-anchor {
    color: #fff;
    background-color: #d91023;
    padding: 5px;
    border-radius: 4px;
}

.container {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}

div article h3 {
    margin-top: 15px;
}

#where-to-eat {
    background-color: #f3e8ee;
}

#where-to-eat .row article p {
    height: 170px;
}

#where-to-drink {
    background-color: #bacdb0;
}

#where-to-drink .row article p {
    height: 170px;
}

#what-to-visit {
    background-color: #f3e8ee;
}

#what-to-visit .row article p {
    height: 250px;
}
